*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    width: 100%;
}

header{
    width: 100%;
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around
;
    
}
a{
    margin-left: 20px;
}